*{
  box-sizing: border-box;  
}
html
{
    font-size: 15px;
}
body
{
    background-color: rgb(169, 213, 213);
}
.structure_style
{
    width:100%;
    padding:25px;
    border:none;
}

